
:root {
    --celeste: #5fa2e6;
    --verde: #71b100;
    --blanco: #ffffff;
    --cafe: #333333;
    --claro: #f5f5f5;
    --gris: #b5b5b5;
    --negro: #000000;
}


html{
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px --- 1 rem = 16px **/
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    max-width: 100%;
}


/* Global */

img{
    max-width: 100%;
}

.parrafos{
    text-align: justify;
}

.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto ;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.6rem;
}

h3{
    font-size: 2.2rem;
}

h4{
    font-size: 1.8rem;
}


/* Utilidades */

.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;    
}

.fw300{
    font-weight: normal;
}

.centrartexto{
    text-align: center;
}

.d-block{
    display: block!important;
}

.contenido-centrado{
    max-width: 70rem;
}


/* Botones */

.boton{
    color: var(--blanco);
    font-weight: 500;
    text-decoration: none;
    padding: .8rem 2.5rem;
    display: inline-block;
    /* margin-top: 1.5rem; */
    text-align: center;
    border: none;
}

.boton:hover{
    cursor: pointer;
}

.boton-verde{
    background-color:var(--verde);
    transition: 500ms;
}

.boton-verde:hover {
    background-color: #5b8b09;
}

.boton-azul{
    background-color: var(--celeste);
}

.boton-azul:hover {
    background-color: #528cc7;
}


/* Header */

.header-sitio{
    background-color: var(--cafe);
    padding: 1rem 0 2rem 0;
    margin: 0;
}

.header-sitio.inicio{
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.separador-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

@media (min-width: 768px) {
    .separador-header{
        text-align: left;
    }
}

.separador-header h1{
    color: var(--blanco);
    padding-bottom: 2rem;
    max-width: 60rem;
}

.barra{
    display: block;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

@media (min-width: 768px) {
    .barra{
        display: flex;
    }
}


/* Barra de Navegación */

.navegacion a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
}

@media (min-width: 768px) {
    .navegacion a{
        display: inline;
        margin-right: 2rem;
        font-size: 1.7rem;
    }
    .navegacion a:last-of-type{
        margin-right: 0rem;
    } 
}

.navegacion a:hover{
    color: var(--celeste);
}


/* Iconos Nosotros */

.iconos-nosotros{
    display: block;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .iconos-nosotros{
        display: flex;
    }
}

.iconos{
    text-align: center;
}

@media (min-width: 768px) {
    .iconos{
        flex-basis: calc( 33.3% - 1rem );
    }
}

.iconos h3{
    text-transform: uppercase;
}


/* Anuncios */

.contenedor-anuncios{
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .contenedor-anuncios{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.anuncios{
    border: 1px solid var(--gris);
    background-color: var(--claro);
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .anuncios{
        flex: 0 0 calc( 33.3% - 1rem );
    }
}

.contenido-anuncio{
    padding: 2rem;
    line-height: 1.7;
}

.contenido-anuncio h3,
.contenido-anuncio p{
    margin: 0 0 1rem 0;
}

.precio{
    color: var(--celeste);
}

.iconos-caracteristicas-casas{
    max-width: 50rem;
    list-style: none;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.iconos-caracteristicas-casas p {
    margin: 0;
    display: flex;
    align-items: center;
}

.iconos-caracteristicas-casas li{
    display: flex;
}

.iconos-caracteristicas-casas img{
    margin-right: 1rem;
}

.boton-vertodas{
    display: flex;
    justify-content: start;
}


/* Contacto */

.imagen-contacto{
    background-image: url(..//img/encuentra.jpg);
    height: 40rem;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.contenido-contacto{
    color: var(--blanco);
    flex: 0 0 95%;
}

.contenido-contacto p{
    font-size: 1.7rem;
}


/* Sección inferior */

@media (min-width: 768px) {
    .seccion-inferior{
        display: flex;
        justify-content: space-between;
    }
    
    .seccion-inferior .seccion-blog{
        flex-basis: 60%;
    }
    
    .seccion-inferior .testimoniales{
        flex-basis: calc(40% - 2rem);
    }
}

.entrada-blog{
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .entrada-blog{
        display: flex;
        justify-content: space-between;
    }
}

.entrada-blog:last-of-type{
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .entrada-blog .imagen-blog{
        flex-basis: 40%;
    }
    
    .entrada-blog .texto-blog{
        flex-basis: calc(60% - 2rem);
        margin: 0;
    }
}

.texto-blog h4{
    margin: 0;
}

.texto-blog h4::after{
    content:'';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: var(--verde);
    margin-top: 1.5rem;
}

.texto-blog a{
    color: var(--negro);
    text-decoration: none;
    transition: 300ms;
}

.texto-blog a:hover{
    color: var(--verde);
}

.texto-blog span{
    color: var(--celeste);
}


/* Testimoniales */

.testimonial{
    background-color: var(--verde);
    font-size: 2rem;
    padding: 1rem;
    color: var(--blanco);
    border-radius: 2.5rem;
}

.testimonial p{
    text-align: right;
    margin-right: 2rem;
}

.testimonial blockquote::before{
    content:'';
    background-image: url(..//img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -3rem;
}

.testimonial blockquote{
    position: relative;
    text-align: justify;
    padding-left: 3rem;
    font-weight: 300;
}


/* Footer */

.site-footer{
    background-color: var(--cafe);
    margin: 0;
}

.contenedor-footer{
    padding: 3rem 0;
    text-align: center;
}
@media (min-width: 768px) {
    .contenedor-footer{
        padding: 3rem 0;
        display: flex;
        justify-content: space-between;
    }
}

.site-footer nav{
    display: none;
}

@media (min-width: 768px) {
    .site-footer nav{
        display: block;
    }
}

.copyright{
    margin: 0;
    color: var(--blanco);
}


/* Páginas Internas */
/* Página Nosotros */

@media (min-width: 768px) {
    .contenido-nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
    }
}
 
.texto-nosotros blockquote{
    font-size: 1.8rem;
    font-weight: 900;
    margin: 0;
    padding: 1rem 0 1rem 0;
}

.espacio-anuncios{
    margin: 2rem;
}


/* Página Anuncio */

.resumen-datoscasa{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Contacto */

legend{
    font-size: 2rem;
    color: var(--cafe);
}

.contacto fieldset:nth-child(3) {
    margin-bottom: 2rem;
}

.contacto p{
    margin: 2rem 0 .5rem 0;
}

label{
    text-transform: uppercase;
    display: flex;
}

input:not([type="submit"]),
textarea,
select
{
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: var(--claro);
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}

input[type="radio"]
{
    width: auto;
    margin: 0;
}

select{
    -webkit-appearance: none;
    appearance: none;
}

textarea{
    height: 20rem;
}

.forma-contacto{
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
